.logtext {
  color: #00FF00;
  background-color: black;
  font-family: "Hack";
  padding-left: 20px;
}

.dialogRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
  white-space: pre-wrap;
  flex: 1;
}
